.wp-block-quote {
  background: $color-grey-light-1;
  border-left: 1rem solid $color-grey-dark-2;
  margin: 1.5em 1rem;
  padding: 0.5em 1rem;
  quotes: "\201C""\201D""\2018""\2019";
}
.wp-block-quote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.wp-block-quote p {
  display: inline;
}
