.section-single {
  &__content {
    margin-top: -17.5rem !important;
  }
  &__content p:not(:last-child) {
    margin-bottom: 1.5rem !important;
  }
}

.attachment-single-post-thumbnail,
.attachment-small-single-post-thumbnail {
  max-width: 100%;
  height: auto;
}
