@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*************************/
/*ANIMATION*/
/*************************/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/*************************/
/*OVERALL SETTING*/
/*************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #00A6DA;
  color: #fff; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #777; }

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  color: #fff; }
  .heading-primary--main {
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 3rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #181818;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(0deg) skewX(1deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(24, 24, 24, 0.2); }

.heading-popup {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #181818;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }
  .heading-popup--1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: #181818;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-popup--1 {
        font-size: 2rem; } }

.heading-subpage {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #181818;
  -webkit-background-clip: text;
  color: #fff;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-subpage {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-subpage {
      font-size: 2.5rem; } }

.heading-subpage-second {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #181818;
  -webkit-background-clip: text;
  color: #181818;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-subpage-second {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-subpage-second {
      font-size: 2.5rem; } }

.paragraph-subpage {
  font-size: 1.6rem;
  color: #fff; }
  .paragraph-subpage:not(:last-child) {
    margin-bottom: 3rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin: 1rem 0 3rem; }

.text-muted {
  color: #999; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.not-found {
  margin: -5rem 0 10rem 0;
  text-align: center; }
  .not-found__page-content > p {
    margin-bottom: 1.5rem; }
  .not-found__page-content .search-field {
    width: 50%;
    padding: 1.2rem 2rem;
    margin: 8px 0;
    display: inline-block;
    border: 0.1rem solid #777;
    border-radius: 0.4rem;
    box-sizing: border-box; }
  .not-found__page-content .search-submit {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .not-found__page-content .search-submit,
  .not-found .search-submit:link,
  .not-found .search-submit:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 0.4rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #00A6DA;
    color: #2B2B2B; }
  .not-found__page-content .search-submit:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.2); }
  .not-found__page-content .search-submit:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
  .not-found__page-content .search-submit:active,
  .not-found .search-submit:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.2); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.2); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.2); }

.btn--primary {
  background-color: #00A6DA;
  color: #2B2B2B; }

.btn--primary::after {
  background-color: #00A6DA; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn--white {
  background-color: #fff;
  color: #2B2B2B; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #00A6DA;
  color: #fff; }
  .btn--blue::after {
    background-color: #00A6DA; }

.btn--grey {
  background-color: #777;
  color: #fff; }
  .btn--grey::after {
    background-color: #777; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #00A6DA;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00A6DA;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #00A6DA;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(24, 24, 24, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(24, 24, 24, 0.15);
  transform: translateY(0); }

.btnblog, .btnblog:link, .btnblog:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 2rem; }

.btnblog:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.2); }

.btnblog:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btnblog:active, .btnblog:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.2); }

.btnblog::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btnblog--primary {
  background-color: #00A6DA;
  color: #2B2B2B; }

.btnblog--primary::after {
  background-color: #00A6DA; }

#totopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 2rem;
  /* Place the button at the bottom of the page */
  right: 3rem;
  /* Place the button 30px from the right */
  z-index: 9999999;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #00A6DA;
  /* Set a background color */
  color: #fff;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 1.5rem;
  /* Some padding */
  border-radius: 1rem;
  /* Rounded corners */
  font-size: 1.8rem;
  /* Increase font size */ }

#totopBtn:hover {
  background-color: #777;
  /* Add a dark-grey background on hover */ }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 47rem; }
  .card__icon {
    font-size: 5rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #0CBFF5, #0083AB);
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    top: 3rem;
    right: -3rem;
    width: 75%; }
    @media only screen and (max-width: 37.5em) {
      .card__icon {
        right: -6rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__icon {
        right: -9rem; } }
  .card__side {
    height: 47rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(24, 24, 24, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #999, #333); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #999, #333); }
  .card__heading {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
    position: absolute;
    top: 10rem;
    right: 3rem;
    width: 75%; }
    @media only screen and (max-width: 37.5em) {
      .card__heading {
        font-size: 2.4rem;
        right: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .card__heading {
        font-size: 2.4rem;
        right: 4rem; } }
    .card__heading--1 {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: white;
      position: absolute;
      top: 10rem;
      right: 3rem;
      width: 75%; }
      @media only screen and (max-width: 37.5em) {
        .card__heading--1 {
          font-size: 2rem;
          right: 4rem; } }
      @media only screen and (max-width: 56.25em) {
        .card__heading--1 {
          font-size: 2rem;
          right: 4rem; } }
    .card__heading--2 {
      font-size: 1.3rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: white;
      position: absolute;
      top: 10rem;
      right: 3rem;
      width: 75%; }
      @media only screen and (max-width: 37.5em) {
        .card__heading--2 {
          font-size: 1.8rem;
          right: 4rem; } }
      @media only screen and (max-width: 56.25em) {
        .card__heading--2 {
          font-size: 1.8rem;
          right: 4rem; } }
  .card__heading-span {
    padding: 0.5rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.85), rgba(43, 43, 43, 0.85)); }
  .card__details {
    padding: 1.7rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem; }
        @media only screen and (max-width: 37.5em) {
          .card__details ul li {
            font-size: 1.8rem; } }
        @media only screen and (max-width: 56.25em) {
          .card__details ul li {
            font-size: 1.8rem; } }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #00A6DA; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
    font-weight: 700; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 5rem;
    font-weight: 600; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(24, 24, 24, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.lupaus-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(24, 24, 24, 0.15);
  transition: transform .3s; }
  .lupaus-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #0CBFF5, #0083AB);
    -webkit-background-clip: text;
    color: transparent; }
  .lupaus-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.wpforms-field-container:not(:last-child) {
  margin-bottom: 2rem; }

.wpforms-field-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2.5rem;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 37.5em) {
    .wpforms-field-label {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 56.25em) {
    .wpforms-field-label {
      font-size: 1.8rem; } }

.wpforms-field-medium {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }

.wpforms-field-medium:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(24, 24, 24, 0.1);
  border-bottom: 3px solid #00A6DA; }

.wpforms-field-medium:focus:invalid {
  border-bottom: 3px solid #0083AB; }

.wpforms-field-medium::-webkit-input-placeholder {
  color: #999; }

.wpforms-submit, .wpforms-submit:link, .wpforms-submit:visited {
  background-color: #00A6DA !important;
  color: #fff !important;
  text-transform: uppercase !important;
  text-decoration: none !important;
  padding: 1.5rem 4rem !important;
  display: inline-block !important;
  border-radius: 10rem !important;
  transition: all .2s !important;
  position: relative !important;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  border: none !important;
  cursor: pointer !important; }

.wpforms-submit:hover {
  transform: translateY(-3px) !important;
  box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.2) !important; }

.wpforms-submit:hover::after {
  transform: scaleX(1.4) scaleY(1.6) !important;
  opacity: 0 !important; }

.wpforms-submit:active, .wpforms-submit:focus {
  outline: none !important;
  transform: translateY(-1px) !important;
  box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.2) !important; }

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
  height: 12rem;
  width: 68.5rem; }

.metabox {
  background-color: #f5f5dc;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  display: inline-block;
  margin-bottom: 3rem;
  box-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.07); }
  .metabox--position-up {
    top: 0;
    transform: translateY(-360%); }
    @media only screen and (max-width: 37.5em) {
      .metabox--position-up {
        transform: translateY(-427%) !important; } }
    @media only screen and (max-width: 56.25em) {
      .metabox--position-up {
        transform: translateY(-338%); } }
  .metabox--with-home-link {
    padding: 0; }
  .metabox__main {
    color: #000;
    padding: 1rem 1.5rem 1rem 1.1rem; }
  .metabox__main > a {
    color: #000 !important; }
  .metabox p {
    margin: 0;
    font-size: 0.9rem;
    color: #181818; }
  .metabox a {
    color: #181818;
    text-decoration: none;
    font-weight: bold; }
  .metabox a:focus {
    color: #00A6DA; }
  .metabox .metabox__blog-home-link {
    background-color: #00A6DA;
    color: #181818;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem 0 0 0.3rem;
    font-weight: 600; }
  .metabox .metabox__blog-home-link:hover {
    text-decoration: none;
    background-color: #00A6DA; }

.page-banner {
  background-color: #000;
  padding: 80px 0 40px 0;
  position: relative; }
  .page-banner__content {
    position: relative;
    z-index: 2; }
  .page-banner__title {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 3.6rem;
    margin: 0 0 1rem 0;
    color: #fff; }
  .page-banner__bg-image {
    opacity: 0.33;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .page-banner__intro {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #ededed; }
  .page-banner__intro p {
    margin: 0; }

.sisallysluettelo-heading, .paketti-1, .paketti-2, .paketti-3, .paketti-4, .paketti-5, .paketti-6 {
  font-size: 2rem; }

.sisallysluettelo-palvelut {
  background-color: #f7f7f7;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-bottom: 2em; }

.sisallysluettelo-palvelut > ol {
  margin-left: 1.5em !important; }

.sisallysluettelo-palvelut ol {
  margin-top: 0;
  margin-bottom: 0; }

.sisallysluettelo-palvelut ol {
  color: #0083AB;
  line-height: 1.9em; }

.sisallysluettelo-palvelut ol {
  font-size: 1.5rem; }

.sisallysluettelo-palvelut li {
  margin-top: 0;
  margin-bottom: 0; }

.sisallysluettelo-palvelut li > a:hover {
  color: #0083AB; }

.sisallysluettelo-palvelut li > a {
  color: #777;
  text-decoration: none;
  cursor: pointer; }

.sisallysluettelo-palvelut li > a {
  font-weight: normal; }

.paketti-1-ul, .paketti-2-ul, .paketti-3-ul {
  list-style-type: disc;
  margin-top: 0; }

.paketti-1-ul, .paketti-2-ul, .paketti-3-ul {
  color: #2B2B2B;
  line-height: 1.7em; }

.paketti-1-ul, .paketti-2-ul, .paketti-3-ul {
  font-size: 1.5rem; }

.paketti-1-ul, .paketti-2-ul, .paketti-3-ul {
  margin-left: 1.5em !important; }

.paketti-5-paragraph {
  margin-bottom: 1.5rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(24, 24, 24, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(24, 24, 24, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(24, 24, 24, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 108%; }
  .popup__text {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 4rem;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #00A6DA; }

.widget_text p {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.wp-block-column p {
  margin-bottom: 2rem; }

.wp-block-column .referenssit-logo-p {
  margin-top: 12rem; }

.wp-block-column .referenssit-case-1-p {
  margin-top: 4rem; }

.search-result {
  margin-top: -6rem !important;
  margin-bottom: 9rem !important; }
  .search-result__page-header {
    margin-bottom: 1.5rem; }
  .search-result__page-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-color: #181818;
    -webkit-background-clip: text;
    color: #181818;
    letter-spacing: 0.2rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 56.25em) {
      .search-result__page-title {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .search-result__page-title {
        font-size: 2.5rem; } }

.search-result .entry-header .entry-title a {
  color: #181818 !important;
  text-decoration: none !important; }

.search-result article {
  margin-bottom: 1.5rem; }

.search-result .entry-header {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #181818;
  -webkit-background-clip: text;
  color: #181818;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .search-result .entry-header {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .search-result .entry-header {
      font-size: 2.5rem; } }

.search-result .entry-summary p {
  font-size: 1.6rem; }
  .search-result .entry-summary p:not(:last-child) {
    margin: 1rem 0 3rem; }

.wp-block-latest-posts__list {
  background-color: #181818;
  padding: 0 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .wp-block-latest-posts__list {
      margin-top: .5rem; } }
  @media only screen and (max-width: 37.5em) {
    .wp-block-latest-posts__list {
      margin-top: .5rem; } }

.wp-block-latest-posts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem; }

.wp-block-latest-posts__list li > a:link, a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s; }

.wp-block-latest-posts__list li > a:hover, a:active {
  color: #00A6DA; }

.pyyda-rohkeasti-tarjoukset {
  font-size: 2rem; }

#fbuilder .ui-datepicker-inline {
  max-width: none !important; }

#fbuilder .ui-datepicker .ui-datepicker-header {
  background: #00A6DA;
  border-radius: 0;
  color: #2B2B2B;
  text-transform: capitalize;
  height: 7rem;
  font-size: 2.4rem;
  line-height: 7rem;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

#fbuilder .ui-datepicker table {
  border-left: 2rem solid #fff;
  border-right: 2rem solid #fff;
  border-top: 2rem solid #fff;
  border-bottom: 2rem solid #fff; }

#fbuilder .ui-datepicker-calendar {
  margin: 0 !important; }

#fbuilder table.ui-datepicker-calendar {
  table-layout: fixed; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 0.4em; }

#fbuilder .ui-datepicker th {
  text-transform: uppercase;
  color: #777;
  font-weight: 600;
  text-align: center;
  padding-top: 3rem; }

#fbuilder .ui-datepicker-calendar th {
  white-space: nowrap; }

.ui-datepicker th {
  text-transform: uppercase;
  padding: .5rem 0;
  color: #666666;
  text-align: center;
  text-shadow: 0.1rem 0rem 0rem #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0); }

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

#fbuilder .ui-widget-content .ui-state-default {
  display: inline-block;
  padding: 0 !important;
  background: #fff;
  border: 0;
  line-height: 5rem;
  width: 100%;
  width: 5rem;
  height: 5rem; }

#fbuilder .ui-datepicker td span, #fbuilder .ui-datepicker td a {
  text-align: center;
  margin: 0 auto;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(top, #ededed 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 0.1rem 0.1rem 0rem 0rem rgba(250, 250, 250, 0.5);
  -moz-box-shadow: inset 0.1rem 0.1rem 0rem 0rem rgba(250, 250, 250, 0.5);
  box-shadow: inset 0.1rem 0.1rem 0rem 0rem rgba(250, 250, 250, 0.5); }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: .1rem solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545; }

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  color: #666666;
  text-shadow: 0.1rem 0.1rem 0rem #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
  box-shadow: none;
  border: 0rem; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: right;
  text-decoration: none; }

#fbuilder .ui-datepicker-calendar .ui-state-active {
  box-shadow: none;
  background-color: #6DDE35;
  display: inline-block;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-shadow: none;
  color: #fff; }

#fbuilder .ui-datepicker-calendar tr {
  border: none !important; }

#fbuilder .ui-datepicker-calendar th {
  white-space: nowrap;
  background-color: #fff; }

.ui-datepicker th {
  text-transform: uppercase;
  padding: .5rem 0;
  color: #666666;
  text-align: center;
  text-shadow: 0.1rem 0rem 0rem #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0); }

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

#fbuilder .ui-datepicker td {
  padding: 0;
  text-align: center;
  height: 5rem;
  font-size: 2rem;
  width: 14.28%;
  position: relative;
  border: none !important; }

#fbuilder .slots {
  border: none;
  box-shadow: none;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 3rem; }

#fbuilder .slots > span {
  font-size: 2.4rem;
  display: block;
  text-align: center;
  height: 7rem;
  line-height: 7rem;
  border-top: .2rem solid #ccc;
  border-bottom: .2rem solid #ccc; }

#fbuilder .slots .availableslot a {
  background-color: #00A6DA;
  font-weight: 400;
  font-size: 1.2rem;
  color: #2B2B2B;
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  border: 0.1rem solid #00A6DA !important; }

#fbuilder .slots div a {
  background: #ededed;
  box-shadow: none;
  display: inline-block;
  padding: .4rem; }

#fbuilder .slots .choosen a {
  background-color: #6DDE35;
  color: #2B2B2B !important;
  border: none !important;
  width: 100%;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  text-align: center;
  border: 0.1rem solid #6DDE35 !important; }

#fbuilder .slots div.htmlUsed a {
  color: #ccc; }

#fbuilder .slots div a {
  background: #ededed;
  box-shadow: none;
  display: inline-block;
  padding: .4rem; }

#fbuilder .fields label {
  color: #2B2B2B;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 3rem;
  display: block;
  font-weight: 400; }

#fbuilder label {
  margin-right: 1rem; }

#fbuilder .dfield input {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #00A6DA;
  width: 100% !important;
  color: #000;
  font-size: 1.6rem; }

#fbuilder .pbSubmit {
  background-color: #6DDE35 !important;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  width: 28rem;
  line-height: 3.8rem;
  text-align: center;
  -webkit-appearance: none;
  border: 0.1rem solid #6DDE35;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0rem 0rem 0rem;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  border-top: 1rem solid #fff;
  border-right: 3rem solid #fff;
  border-left: 3rem solid #fff;
  border-bottom: 3rem solid #fff;
  width: 100%; }

¨
#fbuilder .ahb_list .ahb_list_time .d {
  width: 10rem;
  display: inline-block; }

#fbuilder .ahb_list {
  margin-top: 1rem;
  padding: 1rem 3rem;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }

#fbuilder .ahb_list .cancel {
  float: right;
  text-transform: uppercase;
  line-height: 2rem;
  font-size: 2rem;
  color: #777; }

#fbuilder .medium {
  width: 50% !important;
  padding-left: 0;
  padding-right: 0; }

input[type="text"], input[type="search"] {
  font-size: inherit;
  line-height: inherit; }

.medium {
  font-weight: 500; }

#fbuilder span.uh {
  display: block;
  font-size: 80%;
  clear: both; }

.dfield {
  position: relative; }

#fbuilder *, #fbuilder ::after, #fbuilder ::before {
  box-sizing: border-box; }

.clearer {
  clear: both; }

.ahbfield_service {
  clear: both;
  width: 35%;
  height: 3rem;
  overflow: hidden;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  border-radius: 1rem; }

.cpp_form {
  margin-top: -8.8rem; }
  @media only screen and (max-width: 37.5em) {
    .cpp_form {
      margin-top: -2.8rem; } }

.video {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(255, 255, 255, 0.1);
  background-color: rgba(24, 24, 24, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .video {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .video {
      transform: skewX(0); } }
  .video__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .video__shape {
        transform: translateX(-3rem) skewX(0); } }
  .video__img {
    height: 100%;
    transform: translateY(3rem) translateX(2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .video__text {
    transform: skewX(12deg);
    color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .video__text {
        transform: skewX(0); } }
  .video__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .video:hover .video__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .video:hover .video__img {
    transform: translateY(2rem) translateX(2rem) scale(1.3);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #181818;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem; }
  .footer__copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #777;
    margin-top: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
  .footer__address {
    margin-bottom: 2.4rem; }
  .footer__contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6; }
  .footer__logo {
    height: 8rem; }
  .footer__social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem; }
  .footer__icon {
    font-size: 2.5rem;
    margin-top: 1rem; }
  .footer__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    transition: all 0.3s; }
  .footer__link:hover, .footer__link:active {
    color: #00A6DA; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  z-index: 3;
  top: 0;
  left: 3rem;
  right: 0;
  padding: 0rem 0;
  background-color: #181818; }
  @media only screen and (max-width: 37.5em) {
    .header {
      top: 2.3rem; } }
  .header__logo {
    height: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        height: 6.4rem; } }

.header-page {
  z-index: 3;
  top: 0;
  left: 3rem;
  right: 0;
  padding: 0rem 0;
  background-color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .header-page {
      top: 2.3rem; } }
  .header-page__logo {
    height: 10rem; }
    @media only screen and (max-width: 37.5em) {
      .header-page__logo {
        height: 6.4rem; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #00A6DA;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(24, 24, 24, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 6rem;
      right: 3rem;
      height: 4rem;
      width: 4rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#0CBFF5, #0083AB);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 6.5rem;
      right: 3.5rem;
      height: 3rem;
      width: 3rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -25%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #00A6DA;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .navigation__icon {
      margin-top: 2rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
    @media only screen and (max-width: 37.5em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2rem; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.about-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  max-width: 350px;
  text-align: center;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .about-card_img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0; }
  .about-card__aboutimg {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .about-card__aboutimg {
        width: 60%; } }
  .about-card__info {
    padding-bottom: 20px; }

.about-header {
  height: 30rem;
  background-position: 0 -76rem;
  background-attachment: fixed;
  border-bottom: 0.1rem #fff solid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .about-header__content {
    margin: -20rem 0 25rem 0; }

.section-about {
  margin-top: -5rem; }
  .section-about__nav {
    font-size: 1.2rem;
    text-transform: uppercase; }
  .section-about__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    background-color: #f7f7f7;
    height: 100%;
    overflow: auto; }
  .section-about__link {
    display: block;
    color: #181818 !important;
    padding: 0.8rem 1.6rem;
    text-decoration: none; }
  .section-about__link:active {
    background-color: #0083AB;
    color: #fff; }
  .section-about__link:hover:not(.active) {
    background-color: #00A6DA;
    color: #fff; }

.section-iconbox {
  padding: 5rem 0;
  margin-top: 5rem;
  font-size: 1.5rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .section-iconbox {
      padding: 5rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-iconbox {
      padding: 2rem 0; } }
  .section-iconbox__bg-dark {
    background-color: rgba(24, 24, 24, 0.8);
    border-radius: 3px;
    padding: 2rem 0; }
  .section-iconbox__bg-primary {
    background-color: rgba(0, 166, 218, 0.8);
    border-radius: 3px;
    padding: 2rem 0; }
  .section-iconbox__card-body {
    color: #fff; }
  .section-iconbox__card-body-primary {
    color: #181818; }
  .section-iconbox__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #0CBFF5, #0083AB);
    -webkit-background-clip: text;
    color: transparent; }
  .section-iconbox__icon-primary {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #999, #333);
    -webkit-background-clip: text;
    color: transparent; }

.section-metabox {
  clear: both; }

.section-blog {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important; }
  .section-blog__card-colums {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1; }
  .section-blog__card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #181818;
    border-radius: 0.25rem; }
  .section-blog__card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem; }
  .section-blog__card-body a {
    color: #181818 !important; }
  .section-blog__card-body p {
    font-size: 1rem;
    margin-top: 1.5rem; }
  .section-blog__card-body h4 > a {
    color: #181818;
    text-decoration: none; }
  .section-blog__card-body h4 > a:focus {
    color: #00A6DA; }
  .section-blog__card-body h4 > a:hover {
    text-decoration: underline; }
  .section-blog__quote {
    padding: 1rem; }

.blockquote {
  margin: 0 0 1rem; }

.triple {
  width: 30%;
  float: left;
  margin: -4rem 0 4rem 1rem; }
  @media only screen and (max-width: 37.5em) {
    .triple {
      width: 100%; } }

.section-single__content {
  margin: -15rem 0 10rem;
  font-size: 1.6rem;
  color: #181818; }
  .section-single__content:not(:last-child) {
    margin-bottom: 3rem; }

.content p {
  font-size: 1.6rem;
  color: #181818;
  margin-top: 1.5rem; }
  .content p:not(:last-child) {
    margin-bottom: 3rem; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -25%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  @media only screen and (max-width: 37.5em) {
    .navigation__nav {
      position: fixed;
      top: 0;
      left: -80%;
      z-index: 1500;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); } }

.navigation__nav ul {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .navigation__nav ul {
      position: absolute;
      top: 50%;
      left: 130%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%; } }

.navigation__nav li {
  margin: 1rem; }

.navigation__nav li > a:link, a:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }

.navigation__nav li > a:hover, a:active {
  background-position: 100%;
  color: #00A6DA;
  transform: translateX(1rem); }

.menu-footer-two-container {
  background-color: #181818;
  padding: 0 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .menu-footer-two-container {
      padding: 8rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .menu-footer-two-container {
      padding: 1rem 0; } }

.menu-footer-two-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem; }

.menu-footer-two-container li > a:link, a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s; }

.menu-footer-two-container li > a:hover, a:active {
  color: #00A6DA; }

@media only screen and (max-width: 37.5em) {
  .footer-2 {
    margin-top: .5rem; } }

.post-item {
  background-color: #181818; }

.section-hero {
  background-color: #181818;
  padding: 5.8rem 0 9.6rem 0;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 67% 85%, 0 75%, 0 0);
  clip-path: polygon(100% 0, 100% 75%, 67% 85%, 0 75%, 0 0); }
  @media only screen and (max-width: 37.5em) {
    .section-hero {
      padding: 2rem 0;
      -webkit-clip-path: polygon(100% 0, 100% 75%, 100% 95%, 0 95%, 0 0);
      clip-path: polygon(100% 0, 100% 75%, 100% 95%, 0 95%, 0 0); } }
  @media only screen and (max-width: 56.25em) {
    .section-hero {
      padding: 2rem 0;
      -webkit-clip-path: polygon(100% 0, 100% 75%, 100% 95%, 0 95%, 0 0);
      clip-path: polygon(100% 0, 100% 75%, 100% 95%, 0 95%, 0 0); } }

.hero {
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center; }
  .hero__text-box {
    margin-top: 8.5rem; }
  .hero__banner-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: #fff; }
  .hero__owner-img {
    width: 100%; }

.section-ajankohtaista {
  background-color: #00A6DA; }
  .section-ajankohtaista__heading {
    margin-top: 1.5rem; }
  .section-ajankohtaista__viva {
    border-bottom: 0.2rem solid #181818;
    position: relative;
    height: 0.5rem;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .section-ajankohtaista__item {
    position: relative;
    background-color: #fff;
    padding: 4rem 5rem;
    line-height: 1.5;
    margin-bottom: 10rem; }
  .section-ajankohtaista__content {
    padding: 0.3rem; }
  .section-ajankohtaista__content a {
    padding: 0.3rem;
    color: #181818 !important;
    text-decoration: none; }
  .section-ajankohtaista__paivamaara {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase; }
  .section-ajankohtaista__link {
    display: block;
    margin-top: 0.2rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-decoration: none; }

.section-lupaus {
  padding: 20rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-lupaus {
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .section-lupaus {
      padding: 20rem 0; } }

.section-video {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-video {
      padding: 14rem 0; } }

.section-hinnasto {
  background-color: #fff;
  padding: 20rem 0 15rem 0;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-hinnasto {
      padding: 10rem 0; } }
  .section-hinnasto__text {
    font-size: 1.4rem;
    font-style: italic; }

.section-varaus {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #0CBFF5, #0083AB); }
  @media only screen and (max-width: 56.25em) {
    .section-varaus {
      padding: 10rem 0; } }

.varaus {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(./images/Trung-Ta-form-desktop.jpg);
  background-size: 106%;
  background-position: -6.3rem 0rem;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(24, 24, 24, 0.2);
  height: 60rem; }
  @media only screen and (max-width: 75em) {
    .varaus {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(./images/Trung-Ta-form-desktop.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .varaus {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(./images/Trung-Ta-form-desktop.jpg); } }
  .varaus__form {
    width: 50%;
    padding: 6rem; }
    @media only screen and (max-width: 75em) {
      .varaus__form {
        width: 65%; } }
    @media only screen and (max-width: 56.25em) {
      .varaus__form {
        width: 100%; } }
