.footer {
  background-color: $color-black;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-grey-light-1;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &__copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $color-grey;
    margin-top: 4rem;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }

  &__address {
    margin-bottom: 2.4rem;
  }

  &__contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &__logo {
    height: 8rem;
  }

  &__social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }

  &__icon {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-white;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
  }
}

.footer-one li > a:link {
  text-decoration: none;
  font-size: 1.6rem;
  color: $color-white !important;
  transition: all 0.3s;
}

.footer-one li > a:link {
  text-decoration: none;
  font-size: 1.6rem;
  color: $color-grey;
  transition: all 0.3s;
}

.footer-one li > a:hover,
.footer-one li > a:active {
  color: $color-primary;
}
