.header{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 3rem;
  right: 0;
  padding: 2rem 0;

  @include respond(phone){
    top: 2.3rem;
  }
    
    &__logo{
      height: 10rem;

      @include respond(phone){
        height: 6.4rem;
      }
    }
  }