.header{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 3rem;
  right: 0;
  padding: 2rem 0;
    
    &__logo{
      height: 10rem;

      @include respond(phone){
        height: 4.4rem;
      }
    }
  }