//CONTENTS PARAGRAPH THAT COMPATIBLE WITH WORDPRESS
.content p{
    font-size: $default-font-size;
    color:$color-black;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

//NAVIGATION THAT COMPATIBLE WITH WORDPRESS
.navigation__nav ul{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%;

}

.navigation__nav li{
    margin: 1rem;
}

.navigation__nav li>a:link,a:visited{
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 220%;
    transition: all .4s;
}

.navigation__nav li>a:hover,a:active{
    background-position: 100%;
    color: $color-primary;
    transform: translateX(1rem);
}

//FOOTER THAT COMPATIBLE WITH WORDPRESS
.menu-footer-two-container{
    background-color: $color-black;
    padding: 0 0;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding: 8rem 0;
    }
}

.menu-footer-two-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.menu-footer-two-container li>a:link, a:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-white;
    transition: all 0.3s;
}

.menu-footer-two-container li>a:hover, a:active{
    color: $color-primary;
}


