.section-hero{
      background-color: $color-black;
      padding: 5.8rem 0 9.6rem 0;
      -webkit-clip-path: polygon(100% 0, 100% 75%, 67% 85%, 0 75%, 0 0);
      clip-path: polygon(100% 0, 100% 75%, 67% 85%, 0 75%, 0 0);

      @include respond(phone) {
        padding: 2rem 0;
        -webkit-clip-path: polygon(100% 0, 100% 75%, 100% 95%, 0 95%, 0 0);
        clip-path: polygon(100% 0, 100% 75%, 100% 95%, 0 95%, 0 0);
    }
  }
  
.hero{
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  align-items: center;

    &__text-box{
      margin-top: 8.5rem;
    }

    &__banner-description{
      font-size: 2rem;
      line-height: 1.6;
      margin-bottom: 4.8rem;
      color: $color-white;
  }
    
    &__owner-img{
        width: 100%;
  }

}

.section-ajankohtaista{
  background-color:$color-primary;
  

  &__heading{
    margin-top: 1.5rem;
  }
  &__viva{
    border-bottom: .2rem solid $color-black;
    position: relative;
    height: .5rem;
    width: 25%;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  &__item{
    position: relative;
    background-color: $color-white;
    padding: 4rem 5rem;
    line-height: 1.5;
    margin-bottom:10rem;
  }

  &__content{
    padding: .3rem;
  }

  &__content a{
    padding: .3rem;
    color:$color-black !important;
    text-decoration: none;
  }

  &__paivamaara{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__link{
    display: block;
    margin-top: .2rem;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
}


.section-lupaus {
    padding: 20rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
      padding: 10rem 0;
    }

    @include respond(phone) {
      padding: 20rem 0;
  }
}

.section-video {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 14rem 0;
  }
}

.section-hinnasto {
  background-color: $color-white;
  padding: 20rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  &__text{
    font-size: 1.4rem;
    font-style: italic;
  }
}

.section-varaus {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.varaus {
  background-image: linear-gradient(105deg, 
                                  rgba($color-white, .9) 0%,
                                  rgba($color-white, .9) 50%,
                                  transparent 50%) ,
                            url(./images/Trung-Ta-2.jpg);
  background-size: 106%;
  background-position: -6.3rem 0rem;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  height: 60rem;

  @include respond(tab-land) {
    background-image: linear-gradient(105deg, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 65%,
    transparent 65%) ,
url(./images/Trung-Ta-2.jpg);
    background-size: cover;
}

@include respond(tab-port) {
    background-image: linear-gradient(to right, 
    rgba($color-white, .9) 0%,
    rgba($color-white, .9) 100%),
url(./images/Trung-Ta-2.jpg);
}
&__form {
  width: 50%;
  padding: 6rem;

  @include respond(tab-land) {
      width: 65%;
  }

  @include respond(tab-port) {
      width: 100%;
  }
}
}